body {
    background: #d0e1f9;
}
header {
    margin: 0 0 10px 10px;
    opacity: 0.8;
    border-radius: 0 0 0 10px;
}
p {
    font-family: Palatino, URW Palladio L, serif;
}
.navbar-site {
    border-radius: 0 0 0 10px;
    padding: 0px;
}
.aside {
    margin: 0px 10px 0px 0px;
    opacity: 0.8;
}
.section {
    margin-top: 50px; 
}
.pie {
    margin: 30px 0 30px 0;
    size: 120%;
}
.form-group textarea{
    resize: none;
    height: auto;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.form-group select {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    appearance: none;
    margin-bottom: 15px;
}