<!-- Подключение шаблона страницы -->
{% extends "base.html" %}
<!-- Название вкладки страницы -->
{% block title %}{{ review.abbreviated }}{% endblock title %}
<!-- Заголовок страницы -->
{% block header %}Главная{% endblock header %}
<!-- Контент страницы с основной информацией -->
{% block content %}
<div class="row justify-content-center">
    <div class="media">
        <img src="../static/img/logo/{{ review.logo }}" alt="{{ review.name }}" class="align-self-center mr-5 pie" width="150" height="150">
        <div class="media-body">
          <h5 class="mt-0">{{ review.abbreviated }}</h5>
          <p>{{ review.name }}</p>
        </div>
    </div>
</div>

<div class="row justify-content-end">
  <p>
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Добавить свой отзыв</a>
  </p>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <form method="POST" novalidate>
          {% csrf_token %}
          <div class="form-group">
            <label>
              <p style="color: red;">*Отзыв не может быть короче тысячи(1000) символов.<br>
                *Пожалуйста, избегайте нецензурной брани.<br>
                *Просим Вас не раскрывать чужие личности.</p>
            </label>
            {{ opinionform.opinion }}
            {{ opinionform.text }}
          </div>
           
          <input type="submit" class="btn btn-outline-success text-center" value="Отправить">
        </form>
      </table>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  {% if opinions.count > 0 %}
    {% for r in opinions %}
      {% if  r.opinion == "True" %}
        <div class="card col-12 text-black bg-success">
          <div class="card-header text-center"><h4>Положительный отзыв</h4></div>
      {% else %}
        <div class="card col-12 text-black bg-danger">
          <div class="card-header text-center"><h4>Отрицательный отзыв</h4></div>
      {% endif %}
          <div class="card-body">
            <p class="card-text">{{ r.text }}</p>
          </div>
          <div class="card-footer bg-transparent text-center">{{ r.date_opinion }}</div>
        </div>
    {% endfor %}
  {% else %}
    <div class="card col-12 text-black">
      <div class="card-body">
        <p class="card-text">This card has a regular title and short paragraphy of text below it.his card ha
        </p>
      </div>
    </div>
  {% endif %}
</div>

{% endblock content %}