<!-- Подключение шаблона страницы -->
{% extends "base.html" %}
<!-- Название вкладки страницы -->
{% block title %}{{ review.abbreviated }}{% endblock title %}
<!-- Заголовок страницы -->
{% block header %}Главная{% endblock header %}
<!-- Контент страницы с основной информацией -->
{% block content %}
<div class="row justify-content-center">
    <div class="media">
        <img src="../static/img/logo/{{ review.logo }}" alt="{{ review.name }}" class="align-self-center mr-5 pie" width="150" height="150">
        <div class="media-body">
          <h5 class="mt-0">{{ review.abbreviated }}</h5>
          <p>{{ review.name }}</p>
        </div>
    </div>
</div>

<div class="row justify-content-end">
  <p>
    <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Добавить свой отзыв</a>
  </p>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <p style="color: red;">*Отзыв не может быть короче тысячи(1000) символов.<br>
        *Пожалуйста, избегайте нецензурной брани.<br>
        *Просим Вас не раскрывать чужие личности.</p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  {% for r in opinions %}
    {% if  r.opinion == "True" %}
      <div class="card text-black bg-success">
    {% else %}
      <div class="card text-black bg-danger">
    {% endif %}
        <div class="card-header text-center"><h4>{{ r.opinion }}</h4></div>
        <div class="card-body">
          <p class="card-text">{{ r.text }}</p>
        </div>
        <div class="card-footer bg-transparent text-center">{{ r.date_opinion }}</div>
      </div>
  {% endfor %}
</div>

{% endblock content %}